main {
    justify-content: space-around;
}

.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    width: auto;
    height: 20em;
}
.image > img {
    height: 20em
}

.image > div {
    opacity: 0;
    font-size: 1em;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: flex-end;
    transition: opacity 1s;
    color: white;
}
.image-title {
    font-size: large;
    font-weight: bold;
}
.image-description > button {
    width: 20%;
    margin: 1em;
    font-weight: bold;
}
.image-description > p {
    margin: 0 0 0 1em;
}

.image:hover > div {
    opacity: 1;
    box-shadow: 0 -10em 10em -2em green inset;
}

.image:hover > img {
    z-index: 1;
}