body {
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 4em auto auto auto;
    grid-template-areas: 
        "header header header"
        "sidebar navigation ads"
        "sidebar main ads"
        "footer footer footer";
    background-color: #4d2a18;
    gap: 10px;
    align-items: start;
}

main {
/*     width: 100%; */
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
/*     margin: 1% 15% 1% 15%; */
    padding: 0 1% 1%;
    border-style: dashed;
    border-radius: 10px;
    background-color: #f6ecda;
}

header {
    grid-area: header;
    background-color: wheat;
    border-radius: 20px;
    border-style: dotted;
    border-color: black;
    height: 4em; 
/*     position: sticky; */
    position: relative;  
}

a {
    text-decoration: none;
}

.icon {
    position: absolute;
    width: auto;
    height: 90%;
    background-color: white;
    border-radius: 25px;
    border-style: dotted;
    border-color: black;
}

.title {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 250%;
	font-family: 'Playfair Display', serif;
    color: #4d2a18;
}

.topmenu {
    grid-area: navigation;
    display: inline-block;
    text-align: center;
    height: auto;
    background: wheat;
    border-color: #4d2a18;
    border-style: solid;
    border-radius: 10px;
}

.topmenu > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topmenu > ul > li {
    display: inline-block;
    width: auto;
}

.topmenu > ul > li > a {
    border-color: #4d2a18;
    border-style: solid;
    border-radius: 5px;
    padding: 2px;
    width: 100%;
}

.side-menu {
    grid-area: sidebar;
/*     position: fixed; */
    left: 85%;
/*     margin-top: 1%; */
/*     width: 13%; */
    background-color: wheat;
    border-color: #4d2a18;
    border-style: solid;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.submenu {
    background: #f6ecda;
    visibility: hidden;
    border: 2px solid #003559;
    position: absolute;
    padding-left: 0%;
    width: 6%;
    list-style: none;
}

.topmenu > ul > li > a:hover {
    background-color: aliceblue;
}

.topmenu > ul > li > a:active {
    background-color: yellow;
}

.topmenu > ul > li:hover .submenu {
    visibility: visible;
    background-color: aliceblue;
}

footer {
    grid-area: footer;
    background-color: wheat;
    border-radius: 25px;
    border-style: dotted;
    border-color: black;
    text-align: center;
}


.menu-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 8px;
  width: 40px;
  transform: rotate(0/45deg/90deg);
  border-radius: 4px;
}

.menu-button {
    display: none;
    top: 16px;
}

.menu-button::before {
    content: '';
    margin-top: -12px;
}
  
.menu-button::after {
    content: '';
    margin-top: 12px;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
    background-color: red;
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
    background-color: red;
}

.ads {
    grid-area: ads;
    background: wheat;
    border-color: #4d2a18;
    border-style: solid;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    body {
/*         display: grid; */
        grid-template-columns: 10% 1fr;
/*         grid-template-rows: 4em auto auto 10%; */
        grid-template-areas: 
        "header header"
        "navigation navigation"
        "sidebar main"
        "ads footer";
    }
}
  

@media screen and (max-width: 768px) {
    body {
        display: block;
    }
    .menu-button {
        display: block;
    }
    .topmenu {
        width: 100%;
    }
/*     .topmenu {
        width: 100%;
        margin-top: 20px;
        visibility: hidden;
    } */
/*     .topmenu > ul {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;

        background-color: wheat;
        border-radius: 25px;
        border-style: dotted;
        border-color: black;
    }
    .topmenu > ul > li {
        width: 100%;
    }
    .topmenu > ul > li > a {
        border-style: none;
        display: block;
        width: 100%;
        font-size: 200%;
    }
    #menu-toggle:checked ~ .topmenu {
        visibility: visible;
    }
    .topmenu > ul > li:hover .submenu {
        visibility: hidden;
        background-color: aliceblue;
    }
    main {
        margin: 1%;
    } */
}