body {
    background-color: #4d2a18;
}

header {
    background-color: wheat;
    border-radius: 25px;
    border-style: dotted;
    border-color: black;
    height: 80px;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
}

.icon {
    width: auto;
    height: 95%;
    background-color: white;
    border-radius: 25px;
    border-style: dotted;
    border-color: black;
}

.title {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 250%;
	font-family: 'Playfair Display', serif;
    color: #4d2a18;
}


.topmenu {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
    text-align: center;
    height: auto;
}

.topmenu > ul > li {
    display: inline-block;
    position: relative;
    left: -2%;
    margin-left: 1%;
    width: auto;
}

.topmenu > ul > li > a {
    border-color: #4d2a18;
    border-style: solid;
    border-radius: 5px;
    padding: 2px;
    width: 100%;
}

main {
    margin: 1% 15% 1% 15%;
    padding: 0 1% 1%;
    border-style: dashed;
    border-radius: 2%;
    background-color: #f6ecda;
}

aside {
    position: fixed;
    left: 85%;
    margin-top: 1%;
    width: 13%;
    background-color: wheat;
    border-color: #4d2a18;
    border-style: solid;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.submenu {
    background: #f6ecda;
    visibility: hidden;
    border: 2px solid #003559;
    position: absolute;
    padding-left: 4%;
    width: 83%;
    list-style: none;
}

.topmenu > ul > li > a:hover {
    background-color: aliceblue;
}

.topmenu > ul > li > a:active {
    background-color: yellow;
}

.topmenu > ul > li:hover .submenu {
    visibility: visible;
    background-color: aliceblue;
}

address {
    background-color: wheat;
    border-radius: 25px;
    border-style: dotted;
    border-color: black;
    text-align: center;
}

@media screen and (max-width: 600px) {
    aside {
        visibility: hidden;
    }/*
    header {
        height: 10%;
    }
    .title {
        left: 18%;
        width: 80%;
    }
    .topmenu {
        left: 10%;
        width: 80%;
    }*/
    main {
        margin: 1%;
    }
}