.video-frame {
    width: 20em;
    position: relative;
    display: flex;
    flex-direction: column;
    border-style: none;
    margin: 2em;
}
.video-frame > div {
    opacity: 0;
    position: absolute;
    top: 10%;
    left: -1.5em;
    width: 100%;
    height: 80%;
    background-color: black;
    color: white;
    transition: opacity 1s;
}
.video-frame > div > p {
    margin: 2em;
}
.video-title {
    font-size: large;
}

.video-frame:hover > div {
    opacity: 1;
}